In [ ]:
import sqlite3
import os

conn = sqlite3.connect('roster.db')
c = conn.cursor()
c.execute('''CREATE TABLE roster
    (name text, species text, age integer)''')
conn.commit()
conn.close()
print("Database and table 'Roster' created successfully.")

In [ ]:
import sqlite3
import os

conn = sqlite3.connect('roster.db')
c = conn.cursor()
c.execute("INSERT INTO roster VALUES ('Benjamin Sisko', 'Human', 40), ('Jadzia Dax', 'Trill', 300), ('Kira Nerys', 'Bajoran', 29)")
conn.commit()
conn.close()
print("Data inserted successfully.")

Data inserted successfully.

In [ ]:
import sqlite3
import os

conn = sqlite3.connect('roster.db')
c = conn.cursor()
c.execute("UPDATE roster SET name = 'Ezri Dax' WHERE name = 'Jadzia Dax'")
conn.commit()
conn.close()
print("Data updated successfully.")

Data updated successfully.

In [ ]:
import sqlite3
import os

conn = sqlite3.connect('roster.db')
c = conn.cursor()
c.execute("SELECT name, age FROM roster WHERE species = 'Bajoran'")
rows = c.fetchall()
for row in rows:
    print(row)
conn.close()

('Kira Nerys', 29)